[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_SUPABASE_URL = "https://knnwjzqdaxvwlrhwlofy.supabase.co"
  VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtubndqenFkYXh2d2xyaHdsb2Z5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTExODMzNzMsImV4cCI6MjA2Njc1OTM3M30.3pbuBgVpT_gJ2Om2vjAeCJ3A6peOkzXiUJaZxME9o0o"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200